<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="currentUser">
    <ion-card-header>
      <ion-card-title>Personal Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Email: {{ currentUser?.email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Username: {{ currentUser?.username }}</ion-label>
        </ion-item>
        <!-- 根据需要添加更多用户信息 -->
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!currentUser">
    <ion-card-header>
      <ion-card-title>User Not Logged In</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Please log in to view personal information.
    </ion-card-content>
  </ion-card>
</ion-content>