<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="currentUser">
    <ion-card-header>
      <ion-card-title>Personal Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Email: zhangsan@test.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Username: Zhang San</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>email: zhangsan@test.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>phone: 13345556789</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>nickname: Manager Zhang</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!currentUser">
    <ion-card-header>
      <ion-card-title>User Not Logged In</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Please log in to view personal information.
    </ion-card-content>
  </ion-card>
</ion-content>